
## Visual Studio temporary files
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

## NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

## Test Results
TestResults/

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Visual Studio Code
.vscode/
.history/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## Others
*.cache
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc